.card-icon {
    @apply text-2xl cursor-pointer hover:scale-125 transition-all duration-200 ease-in-out;
}

/* styles.css */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  